{% extends "layout.html" %}


{% block users %}

  <div class="user-list">
    {% for user in users %}
        <article>
          <input type="checkbox" name={{ user.username }} value={{ user.username }}>
          <label for={{ user.username }}>{{ user.username }}</label><br>
        </article>
    {% endfor %}
    <br><br>
    <input type="submit" value="Confirm admin settings" class="button">
    <a href="{{ url_for('index') }}" class="button button-secondary">Cancel</a>
    <br><br><br><br>
  </div>
{% endblock %}
